src/main/java/com/zanoccio/axirassa/overlord/AxOverlord-Configuration-1.0.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT configuration (target+, group+)>

<!ELEMENT target (#PCDATA)>
<!ATTLIST target name CDATA #REQUIRED>
<!ATTLIST target class CDATA #REQUIRED>

<!ELEMENT group (execute+)>
<!ATTLIST group name CDATA #REQUIRED>

<!ELEMENT execute (#PCDATA)>
<!ATTLIST execute target CDATA #REQUIRED>
<!ATTLIST execute instances CDATA "1">
